html,
body {
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 40px;
}

h2, h3, h4 {
  margin-top: 0;
  font-weight: 200;
}

h2 span,
h3 span,
h4 span {
  font-weight: 900;
}

p {
  margin-bottom: 0;
  font-size: 15.57px;
  line-height: 28px;
}

a, input, textarea {
  font-size: 16.57px;
}

a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 15px;
}

.grid-item-bg {
  background-color: #29333b;
  background-image: url("../img/bg.jpeg");
}

.grid-item-gray {
  background-color: #f3f3f3;
}

.grid-item-blue {
  background-color: #4397a9;
  background-image: url("../img/bg-blue.jpeg");
}

.grid-item-beige {
  background-color: #f9edcc;
  background-image: url("../img/bg-beige.jpg");
}

.grid-item-black {
  background-color: #2a3139;
  background-image: url("../img/bg-black.jpg");
}

.grid-item-man {
  background-color: #1e4659;
  background-image: url("../img/bg-man.jpg");
}

.grid-item-navy {
  background-color: #556c6d;
  background-image: url("../img/bg-gray.jpg");
}

.grid-item-bg,
.grid-item-gray,
.grid-item-blue,
.grid-item-beige,
.grid-item-black,
.grid-item-man,
.grid-item-navy {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.grid-item-blue,
.grid-item-black,
.grid-item-man,
.grid-item-navy {
  color: white;
}

.form {
  max-width: 620px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form input,
.form textarea {
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 10px 15px;
}

.form input::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder { color: white; }
.form input::-moz-placeholder, .form textarea::-moz-placeholder { color: white; } /* Firefox 19+ */
.form input:-moz-placeholder, .form textarea:-moz-placeholder { color: white; } /* Firefox 18- */
.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder { color: white; }

.form input {
  width: 48%;
}

.form textarea {
  width: 100%;
}

.menu-btn {
  width: 33px;
  height: 33px;
  background-color: transparent;
  border: none;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials a {
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  border: none;
}

.socials li:not(:last-child) {
  margin-right: 6px;
}

.socials__fb {
  background-image: url("../img/fb.png");
}

.socials__dr {
  background-image: url("../img/dr.png");
}

.socials__tw {
  background-image: url("../img/tw.png");
}
